[submodule "src/YDLidar-SDK"]
	path = src/YDLidar-SDK
	url = git@github.com:YDLIDAR/YDLidar-SDK.git
[submodule "src/ydlidar_ros_driver"]
	path = src/ydlidar_ros_driver
	url = git@github.com:sunfu-chou/ydlidar_ros_driver.git
[submodule "src/rtimulib_ros"]
	path = src/rtimulib_ros
	url = git@github.com:sunfu-chou/rtimulib_ros.git
[submodule "src/RTIMULib2"]
	path = src/RTIMULib2
	url = git@github.com:HongshiTan/RTIMULib2.git
[submodule "src/iris_lama_ros"]
	path = src/iris_lama_ros
	url = git@github.com:sunfu-chou/iris_lama_ros.git
[submodule "src/iris_lama"]
	path = src/iris_lama
	url = git@github.com:iris-ua/iris_lama.git
[submodule "src/imu_calib"]
	path = src/imu_calib
	url = git@github.com:sunfu-chou/imu_calib.git
