<launch>
  <arg name="map_file" default="$(find simulation_env)/map/square_world.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
			
  
  <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 0 0 0 map odom 50"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find simulation_env)/urdf/minicar_description/minicar.xacro"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"  value="$(find simulation_env)/world/square_world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

	<!-- Load joint controller configurations from YAML file to parameter serve
  <rosparam file="$(find simulation_env)/config/minicar_control.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="joint_state_controller
          leftWheel_effort_controller
          rightWheel_effort_controller"/>

r -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node pkg="simulation_env" name="pose_pub" type="tf_subscribe"/>
  <node pkg="simulation_env" name="path_pub" type="path_pub.py"/>
  <!-- <node pkg="rviz" name="rviz" type="rviz"/> -->

</launch>
