<launch>
  <!-- <node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
    <param name="use_compass" value="false"/>
    <param name="calibration_file_path" value="$(find cool_robot)/config"/>
    <param name="calibration_file_name" value="RTIMULib" />
    <param name="frame_id" value="base_link"/>
    <remap from="rtimulib_node/imu" to="imu/raw"/>
  </node>

  <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" clear_params="true">
    <param name="calib_file" value="$(find cool_robot)/config/imu_calib.yaml" />
    <param name="calibrate_gyros" value="true" />
    <param name="calibrate_acc" value="false" />
    <param name="gyro_calib_samples" value="200" />
    <param name="acc_calib_samples" value="200" />
    <remap from="raw" to="imu/raw" />
    <remap from="corrected" to="imu/corrected" />
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen" clear_params="true">
    <param name="publish_tf" value="false" />
    <param name="use_mag" value="false" />
    <param name="remove_gravity_vector" value="true" />
    <param name="publish_tf" value="false" />

    <remap from="imu/data_raw" to="imu/corrected" />
    <remap from="imu/data" to="imu" />
  </node> -->
  
  <node name="odom_pub" pkg="cool_robot" type="odom_pub"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
    <rosparam command="load" file="$(find cool_robot)/config/ekf.yaml" />

    <remap from="odometry/filtered" to="odometry/filtered" />
  </node>
  <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0.0 0 0 0 0 0.0 map odom"/>

</launch>
