<launch>
  <node name="odom_pub" pkg="cool_robot" type="odom_pub"/>
  <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" clear_params="true">
    <!-- <param name="calib_file" value="$(find cool_robot)/params/imu_calib.yaml" /> -->
    <param name="calibrate_gyros" value="true" />
    <param name="gyro_calib_samples" value="200" />
    <remap from="raw" to="uwb_imu_raw" />
    <remap from="corrected" to="uwb_imu_calibed" />
  </node>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen" clear_params="true">
    <param name="publish_tf" value="false" />
    <param name="use_mag" value="false" />
    <param name="remove_gravity_vector" value="true" />
    <param name="publish_tf" value="false" />

    <remap from="imu/data_raw" to="uwb_imu_calibed" />
    <remap from="imu/data" to="uwb_imu" />
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true">
    <rosparam command="load" file="$(find cool_robot)/config/ekf.yaml" />

    <remap from="odometry/filtered" to="odometry/filtered" />
  </node>
</launch>
